
******************************************************************************


Good time of day, server details:
hostname: {{ ansible_fqdn }}
cpu: {{ (',').join(ansible_processor[0:2]) }} num_cpus: {{ ansible_processor_count }}
Ram : {{ ansible_memtotal_mb }} Mb
Manufacturer: {{ ansible_system_vendor }}
Product Name: {{ ansible_product_name }}
IP: {{ ansible_default_ipv4.address }}
OS : {{ ansible_distribution }} {{ ansible_distribution_version }} {{ ansible_architecture }}
Bios: release date: {{ ansible_bios_date }} ,version: {{ ansible_bios_version }}

******************************************************************************

