no what-just-happened all enable
no docker shutdown
no docker start telemetry-agent
docker pull mellanox/telemetry-agent
docker start mellanox/telemetry-agent latest telemetry-agent now-and-init cpus 0.5 memory 300 privileged network sdk
docker copy-sdk telemetry-agent to /
docker exec telemetry-agent "/opt/telemetry/utils/run_wjh_session.sh {{wjhgraf_ip}} {{wjhgraf_port}}"
configuration write
