

no logging monitor events
no cli session prefix-modes enable
lacp
lldp
ip l3
ip routing
spanning-tree
spanning-tree mode rst


protocol mlag
protocol magp
dcb priority-flow-control enable force

# create L2 vlans

vlan 1-100

vlan 101-127


# ipl vlan

vlan 4094
interface port-channel  1

# ipl lag

interface ethernet 1/15 channel-group 1 mode active
interface ethernet 1/16 channel-group 1 mode active
interface port-channel 1 dcb priority-flow-control mode on force
interface vlan 4094 ip address 192.168.1.1/30


# mlag

interface port-channel 1 ipl 1

interface vlan 4094 ipl 1 peer-address 192.168.1.2
mlag-vip leaf1-leaf2 ip 192.168.255.1 /24 force
mlag system-mac 00:00:5E:00:01:01
no mlag shutdown

# interface mlag-port-channel

interface mlag-port-channel 100
interface ethernet 1/1 mlag-channel-group 100 mode active
interface ethernet 1/4 mlag-channel-group 100 mode active
interface ethernet 1/11 mlag-channel-group 100 mode active
interface ethernet 1/14 mlag-channel-group 100 mode active
interface mlag-port-channel 100 description uplink
interface mlag-port-channel 100 mtu 9216 force
interface mlag-port-channel 100 no shutdown


# vlans

vlan 1

interface mlag-port-channel 100 switchport mode trunk
