#jinja2: lstrip_blocks: "True"

{% set bgp_ports = leaf[inventory_hostname].bgp_ports %}
{% set device = leaf[inventory_hostname] %}

no logging monitor events
no cli session prefix-modes enable
lldp
ip l3
ip routing
protocol bgp

# create L2 vlan

vlan {{global.l3_vlan_id}}
# create l3 vlan

interface vlan {{ global.l3_vlan_id}} ip address {{device.l3_vlan_ip}}
# loopback
interface loopback 0 ip address {{device.loopback}}/32
# bgp

{% for bgp_port in bgp_ports %}
{% for key,port in bgp_port.iteritems() %}
   interface ethernet 1/{{ key }} ip address {{port.ip}}/30
{% endfor %}
{% endfor %}


router bgp {{device.asn}}
router bgp {{device.asn}} router-id {{device.router_id}}
{% for bgp_port in bgp_ports %}
{% for key,port in bgp_port.iteritems() %}
   router bgp {{device.asn}} neighbor {{port.nip}} remote-as {{port.neighbor_as}}
{% endfor %}
{% endfor %}
router bgp {{device.asn}} network {{device.network_to_advertise}}
router bgp {{device.asn}} network {{device.loopback}}/32
