#jinja2: lstrip_blocks: "True"

{% set mlag_cluster_name = devices[inventory_hostname]['mlag_cluster'] %}
{% set mlag_cluster = mlag_clusters[devices[inventory_hostname].mlag_cluster] %}
{% set device = devices[inventory_hostname] %}

no logging monitor events
no cli session prefix-modes enable
lacp
lldp
ip routing
# no spanning-tree
protocol mlag
protocol magp
dcb priority-flow-control enable force


# ipl vlan

vlan {{mlag_cluster.ipl_vlan}}
interface port-channel  {{mlag_cluster.ipl_lag_id}}

# ipl lag

{% for port in mlag_cluster.ipl_ports -%}
  interface ethernet 1/{{port}} channel-group {{ mlag_cluster.ipl_lag_id }} mode active
{% endfor %}
interface port-channel {{mlag_cluster.ipl_lag_id}} dcb priority-flow-control mode on force
  {% if device.mlag_role == 'master'  -%}
interface vlan {{mlag_cluster.ipl_vlan}} ip address {{mlag_cluster.ipl_master_ip}}
  {% endif %}
{% if device.mlag_role == 'slave' -%}
  interface vlan {{mlag_cluster.ipl_vlan}} ip address {{mlag_cluster.ipl_slave_ip}}
{% endif %}


# mlag

interface port-channel {{mlag_cluster.ipl_lag_id}} ipl 1
{% if device.mlag_role == 'master'  -%}
  interface vlan {{mlag_cluster.ipl_vlan}} ipl 1 peer-address {{mlag_cluster.ipl_slave_ip  | ipaddr('address') }}
{% endif %}

{% if device.mlag_role == 'slave' -%}
  interface vlan {{mlag_cluster.ipl_vlan}} ipl 1 peer-address {{mlag_cluster.ipl_master_ip  | ipaddr('address') }}
{% endif %}
mlag-vip {{mlag_cluster_name}} ip {{mlag_cluster.vip | ipaddr('address') }} /{{mlag_cluster.vip | ipaddr('prefix')}} force
mlag system-mac {{mlag_cluster.system_mac}}
no mlag shutdown

# interface mlag-port-channel

{% for mlag_port in device.mpos %}
{% for key,mport in mlag_port.iteritems() -%}
    interface mlag-port-channel {{mport.id}}
    {% for port in mport.ports -%}
      interface ethernet 1/{{port}} mlag-channel-group {{mport.id}} mode {{mport.mode}}
{% endfor %}
    {% if mport.description is string -%}
      interface mlag-port-channel {{mport.id}} description {{mport.description}}
    {% endif %}
    {% if mport.mtu is defined %}
      {% if mport.mtu >=1500 and  mport.mtu <=9216 -%}
        interface mlag-port-channel {{mport.id}} mtu {{mport.mtu}} force
      {% endif %}
     {% else%}
      {% if global.default_mtu is defined %}
        {% if global.default_mtu >=1500 and  global.default_mtu <=9216 -%}
          interface mlag-port-channel {{mport.id}} mtu {{global.default_mtu}} force
        {% endif %}
      {% endif %}
    {% endif -%}
    interface mlag-port-channel {{mport.id}} no shutdown

{% endfor %}
{% endfor %}

# vlans

{% for vlan in mlag_cluster.vlans %}
vlan {{vlan}}
{% endfor %}

{% for mlag_port in device.mpos %}
  {% for key,mport in mlag_port.iteritems() %}
    {% if mport.l2_mode is defined -%}
      {% if 'access vlan ' in mport.l2_mode -%}
        interface mlag-port-channel {{mport.id}} switchport mode access
        interface mlag-port-channel {{mport.id}} switchport {{mport.l2_mode}}
      {% endif %}
      {% if 'trunk' in mport.l2_mode -%}
        interface mlag-port-channel {{mport.id}} switchport mode trunk
      {% endif %}
      {% if 'hybrid' in mport.l2_mode -%}
        interface mlag-port-channel {{mport.id}} switchport mode hybrid
      {% endif %}
    {% else %}
      {% if mlag_cluster.default_l2_mode is defined -%}
        interface mlag-port-channel {{mport.id}} switchport mode {{global.default_l2_mode}}
      {% else -%}
        interface mlag-port-channel {{mport.id}} switchport mode {{mlag_cluster.default_l2_mode}}
      {% endif %}
    {% endif %}
    {% endfor %}
{% endfor %}
