

no logging monitor events
no cli session prefix-modes enable
lacp
lldp
ip l3
ip routing
spanning-tree
spanning-tree mode rpvst


protocol mlag
protocol magp
dcb priority-flow-control enable force

# create L2 vlans

vlan 1-100

vlan 101-127


# ipl vlan

vlan 4094
interface port-channel  1

# ipl lag

interface ethernet 1/5 channel-group 1 mode active
interface ethernet 1/6 channel-group 1 mode active
interface port-channel 1 dcb priority-flow-control mode on force
interface vlan 4094 ip address 192.168.1.2/30


# mlag

interface port-channel 1 ipl 1
interface vlan 4094 ipl 1 peer-address 192.168.1.1

mlag-vip leaf ip 192.168.255.1 /24 force
mlag system-mac 00:00:5E:00:01:01
no mlag shutdown

# interface mlag-port-channel

interface mlag-port-channel 1
interface ethernet 1/1 mlag-channel-group 1 mode active
interface ethernet 1/2 mlag-channel-group 1 mode active
interface mlag-port-channel 1 description uplink
interface mlag-port-channel 1 mtu 9216 force
interface mlag-port-channel 1 no shutdown

interface mlag-port-channel 7
interface ethernet 1/7 mlag-channel-group 7 mode active
interface mlag-port-channel 7 description mpo7
interface mlag-port-channel 7 mtu 9216 force
interface mlag-port-channel 7 no shutdown

interface mlag-port-channel 8
interface ethernet 1/8 mlag-channel-group 8 mode active
interface mlag-port-channel 8 description mpo8
interface mlag-port-channel 8 mtu 9216 force
interface mlag-port-channel 8 no shutdown


# vlans

vlan 1

interface mlag-port-channel 1 switchport mode trunk
interface mlag-port-channel 7 switchport mode access
        interface mlag-port-channel 7 switchport access vlan 1
interface mlag-port-channel 8 switchport mode access
        interface mlag-port-channel 8 switchport access vlan 1
