

no logging monitor events
no cli session prefix-modes enable
lacp
lldp
ip routing
# no spanning-tree
protocol mlag
protocol magp
dcb priority-flow-control enable force


# ipl vlan

vlan 4094
interface port-channel  1

# ipl lag

interface ethernet 1/15 channel-group 1 mode active
interface ethernet 1/16 channel-group 1 mode active
interface port-channel 1 dcb priority-flow-control mode on force
interface vlan 4094 ip address 169.254.1.1/30


# mlag

interface port-channel 1 ipl 1

interface vlan 4094 ipl 1 peer-address 169.254.1.2
mlag-vip mlag-cluster1 ip 169.254.255.1 /24 force
mlag system-mac 00:00:5E:00:01:01
no mlag shutdown

# interface mlag-port-channel

interface mlag-port-channel 1
interface ethernet 1/1 mlag-channel-group 1 mode active
interface ethernet 1/6 mlag-channel-group 1 mode active
interface mlag-port-channel 1 mtu 9216 force
interface mlag-port-channel 1 no shutdown

interface mlag-port-channel 2
interface ethernet 1/2 mlag-channel-group 2 mode active
interface mlag-port-channel 2 description mpo2
interface mlag-port-channel 2 mtu 9216 force
interface mlag-port-channel 2 no shutdown

interface mlag-port-channel 3
interface ethernet 1/5 mlag-channel-group 3 mode active
interface mlag-port-channel 3 mtu 1500 force
interface mlag-port-channel 3 no shutdown


# vlans

vlan 1-10
vlan 30
vlan 100-300

interface mlag-port-channel 1 switchport mode trunk
interface mlag-port-channel 2 switchport mode access
        interface mlag-port-channel 2 switchport access vlan 5
interface mlag-port-channel 3 switchport mode trunk
